<h1>Welcome to the JavaScript track!</h1>

  <form action="GET">
    <fieldset>
      <p>Have you already competed JS109?</p>
      <input type="radio" name="yes" value="yes">
      <label for="yes">Yes</label>
      <input type="radio" name="no" value="no" checked>
      <label for="no">No</label>
      <input type="submit" value="Submit">
    </fieldset>
  </form>